@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif; 
}
html{
    scroll-behavior: smooth;
}
body{
    overflow: overlay;
}
:root{
    --main-color:#548C2F;
    --second-color:#FFD449;
    --third-color: #ffffff;
}
section{
    padding: 50px 10%;
}
*::selection{
    background: var(--main-color);
}
img{
    width: 100%;
}
header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.home.active{
    right: px;
}
.home video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5e5e5e;
  mix-blend-mode: overlay;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em
}
.home-text{
    flex: 1 1 10em;
    z-index: 10;
    position: relative;
}
.home-text span{
    font-size: 2em;
    line-height: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--third-color);
}
.home-text h1{
    font-size: 5em;
    line-height: 1em;
    color: var(--third-color);
    font-weight: 800;
    text-transform: uppercase;
    padding: 0.1em 0;
}
.home-text h2{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    color: var(--third-color);
    max-width: 20em;
}
.btn{
    display: inline-block;
    font-size: 1.2em;
    background: var(--third-color);
    padding: 1em 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #111;
    letter-spacing: 0.2em;
    transition: 0.2s;
    margin: 1em 0;
}
.btn:hover{
    letter-spacing: 0.4em;
}
.content-btn{
    display: flex;
    width: 20%;
    font-size: 1.2em;
    background: var(--third-color);
    padding: 1em 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #111;
    letter-spacing: 0.2em;
    transition: 0.2s;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.content-btn:hover{
    letter-spacing: 0.4em;
    width: 28%;
}
.content-btn a{
    color: #000000;
}
.btn-blck{
    border: 1px solid #000000;
    margin-top: 5%;
}

.heading{
    text-align: center;
}
.heading h3{
    font-size: 2.1em;
    font-weight: 700;
    color: var(--main-color);
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-top: 2em;
}
.explain-img{
    flex: 1em 1em 1em;
}
.explain-img img{
    width: 80%;
    height: 100%;
}
.explain-text{
    flex: 1 1 17em;
    margin-top: 5%;
}
.explain-text h2,
.about-text h2{
    font-size: 1.5em;
    font-weight: 600;
}
.explain-text p,
.about-text p{
    font-size: 1em;
    font-weight: 400;
    margin: 0.2em 0 0.5em;
    line-height: 1.3em;
}
.about-text{
    flex: 1 1 1em;
    text-align: center;
}
.about-text .video-profil{
    margin-bottom: 1em;
}
.about-text .video-profil iframe{
    width: 70%;
    height: 75vh;
}
.about-text span{
    font-size: 1em;
}
.about-img img{
    width: 100%;
}
.wdth-100{
    width: 100%;
}
/* ACTIVITIES PAGE */

.activities{
    background: var(--main-color);
}
.activities .heading h3{
    font-size: 2.1em;
    font-weight: 700;
    color: var(--third-color);
}
.activities .activities-img{
    flex: 1 1 21em;
}
.activities .container-activities{
    display: grid;
    gap: 1.5em;

    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}
@media (min-width: 50em) {
    .activities .container-activities{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .activities .activities-box:last-child{
        grid-column-start: 4;
        grid-row: 1 / span 2;
    }
    .activities .container-activities .grid-col-span-2{
        grid-column: span 2;
    }
}

.activities .activities-box{
    background-size: cover;
    padding: 6em 0 0 0;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.activities .activities-box:hover{
    transform: scale(1.3);
    transition: all 0.5s ease;
}
.activities .activities-box .activities-content{
    padding: 1.5em;
    background: linear-gradient(
        hsl(0 0% 0% /0),
        hsl(0 0% 0% / 0.3) 20%,
        hsl(0 0% 0% /1)
    );
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.activities .img1{
    background-image: url(/images/contents/ecoprint.jpg);
}
.activities .img2{
    background-image: url(/images/contents/kwt.jpg);
}
.activities .img3{
    background-image: url(/images/contents/db.jpg);
}
.activities .img4{
    background-image: url(/images/contents/ecobreak.jpg);
}
.activities .img5{
    background-image: url(/images/contents/senam.jpg);
}

.activities .activities-box .activities-content p{
    color: var(--third-color);
}
.activities-box h2{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--third-color);
}

/* ORGANIZATION */
.orgz-card{
    width: 100%;
    flex-direction: row-reverse;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    left: 50%;
    right: 50%;
    margin-bottom: 1em;
    gap: 0;
    display: flex;

}
.orgz-card:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}
.orgz-card-left, .orgz-card-right{
    width: 100%;
}
.orgz-card-left{
    left: 0;
    background-image: url(/images/organisasi/makaryo.jpg);
    background-size: cover;
    border-radius: 0 10px 10px 0;
}
.orgz-card-right{
    right: 0;
    background: var(--second-color);
    padding-right: 2em;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orgz-card-right h2{
    font-size: 3em;
}
.orgz-card-right span{
    font-size: 1.5em;
    margin-top: 0.8em;
    font-weight: 500;
    font-style: italic;
}
.orgz-card-right p{
    margin-top: 0.8em;
    font-size: 1.1em;
    font-weight: 400;
}
.orgz-card-right h2, .orgz-card-right p, .orgz-card-right span{
    text-align: right;
    padding-left: 15%;
    margin-left: 15%;
    margin-right: 10%;
    width: 100%;
}

.contact{
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    padding-bottom: 0;
}
.links{
    height: 13em;
}
.links .bye{ 
    margin-bottom: 4em;
}
.links h1, .links p{
    color: var(--third-color);
    margin: 0.3em 0;
}
.links .email-box{
    background-color: var(--second-color);
    padding: 1em 0 0.5em 1em ;
}
.links .email-box p{
    font-size: 1em;
    font-weight: 600;
    color: #000000;
    padding: 0.5em 0 0.5em 0.3em;
    margin: 0;
}
.links .email-box .fw-400{
    font-weight: 400;
}
.visit span{
    color: var(--third-color);
    font-size: 1.5em;
    font-weight: 600;
}
.visit p{
    font-weight: 300;
    margin-top: 1em;
}
.visit a{
    font-weight: 300;
    color: var(--second-color);
    font-style: italic;
}
.social{
    margin-top: 40%;
}
.social a{
    font-size: 27px;
    margin: 0.5em;
}
.social a .bx{
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
}
.social a .bx:hover{
    background: var(--second-color);
}
.mrg-bot-0{
    margin-bottom: 0;
}