@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    background: var(--main-color);
    overflow: hidden;
}
:root{
    --main-color:#548C2F;
    --second-color:#FFD449;
    --third-color: #ffffff;
}
.error{
  display: flex;
  flex-direction: column;
}
.container{
    width: 100%;
    text-align: left;
    background-image: url(/images/errors/full-back.svg);
}
.container h2{
    font-size: 50px;
    margin: 0;
    font-weight: 900;
    color: #ffffff;
}
.container p{
    color: #ffffff;
    font-weight: 400;
    font-size: 1.4em;
}
.container a{
    text-decoration: none;
    border: 2px solid;
    color: var(--third-color);
    padding: 0.6em 1em;
    border-radius: 40px;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.4s;
}
.container a:hover{
    color: var(--third-color);
    background: var(--second-color);
    letter-spacing: 0.14em;
}
.background{
  
}